body {
  margin: 0;
  font-family: Helvetica;
  font-weight: bold;
  color: #FFFFFF;
  background: #000408;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
